.container{
    padding: 0rem;
  }
  
  .selectWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 1rem;
    margin: 1rem 0rem;
  
      .labelWrapper{
          width: 100%;
          justify-content: center;
          margin-bottom: 1rem;
  
          select{
              padding: 0.25rem;
              margin-left: 1rem;
              border-radius: 0.25rem;
              font-weight: bold;
          }
      }
  
  }
  @media screen and (min-width: 768px){
    .container{
        padding: 0rem 0rem;
        width: 100%;
    }
    .sectionWrapper{
        align-items: center;
        margin: 1.5rem 0rem;
        padding: 0rem 1rem;
    }
    .cardWrapper{
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        padding: 0rem 1rem;
    }
    .outerPlanetWrapper{
        width: 100%;
        display: flex;
        overflow-x: scroll;
        margin: 0rem 0rem 1rem 0rem;
    }
    .planetWrapper{
        display: flex;
        flex-wrap: nowrap;
    }
  }

@media screen and (min-width:991px){
    .cardWrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 0rem 4rem;
        margin: 1rem 0rem;
      
          .labelWrapper{
              width: 100%;
              justify-content: center;
              margin-bottom: 1rem;
      
              select{
                  padding: 0.25rem;
                  margin-left: 1rem;
                  border-radius: 0.25rem;
                  font-weight: bold;
              }
          }
      
      }
}