.container{
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}
.headerWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0rem;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.imageHeaderSection{
    background-image: url(../../assets/hero-banner.jpg);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 2rem;
        

    .imageWrapper{
        width: 100%;
        display: flex;
        height: 100%;
        justify-content: center;

        .heroImage{
            width: 100%;
            object-fit: contain;
        }
    }
   
    .nameNavDiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0px;
        bottom: 0px;
        padding-bottom: 0.25rem;

        .nameDiv{
            color: white;
            font-weight: bold;
            font-size: 1.75rem;
            display: flex;
            align-items: center;

                .icons{
                    font-size: 2rem;
                    margin: 0rem 0.5rem;
                }
        }
        .navigationDiv{
            color: white;
            display: none;

            .icons{
                margin: 0rem 0.5rem;
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
    }
}

.otherInfoSection{
    padding: 1rem 1.5rem;
    width: 100%;

    .cardWrapper{
        align-items: flex-start;
        padding: 0.5rem 0rem 0.5rem 1rem;
        margin: 1.5rem 0rem 0rem 0rem;
        border-radius: 0rem 0.25rem 0rem 0.25rem;
        box-shadow: 0 0 1rem rgba(85, 80, 80, 0.25);
        transition: transform 1s ease-in-out;

        .labelWrapper{
            margin-bottom:0.25rem;
            padding: 0rem;
            display: flex;
            align-items: flex-end;
            .icons{
                margin: 0rem 0.125rem 0rem 0rem;
                font-size: 1rem;
                color: #092780;
            }
            .label{
                font-size: 0.75rem;
                line-height: 1;
                font-weight: 450;
                margin: 0rem;
                padding: 0rem;
                color: #092780;
            }
        }
        p{
            text-transform: capitalize;
            font-size: 1rem;
            font-weight: 600;
            margin: 0rem;
        }

    }

    .cardWrapper:hover {
        transform: scale(1.025);
        animation-duration: inherit;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-timing-function: ease-in-out;
        cursor: pointer;
      }
}
.backButton{
    display: flex;
    justify-content: flex-end;
    padding: 0rem 0rem 0rem 0rem;
    width: 100%;
    margin-top: 1rem;
}

@media screen and (min-width:991px){
    .container{
        height: 100vh;
    }
    .headerWrapper{
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0rem;
    }
    .content{
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 90vh;
    }
    .imageHeaderSection{
        width: 75%;
        padding: 0rem 0rem;
        margin: 0rem;

        .imageWrapper{
            width: 100%;
            display: flex;
            height: 100%;

            .heroImage{
                width: 100%;
                object-fit: contain;
            }
        }
       
        .nameNavDiv{
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            bottom: 20px;
            padding: 0rem 1rem;

    
            .nameDiv{
                color: white;
                font-weight: bold;
                font-size: 3rem;

                .icons{
                    font-size: 4rem;
                    margin: 0rem 2rem;
                }
            }
            .navigationDiv{
                color: white;
                display: flex;

                .icons{
                    margin: 0rem 1rem;
                    font-size: 3rem;
                    cursor: pointer;
                }
            }
        }
    }
  
 
    
    .otherInfoSection{
        padding: 1rem 1.5rem;
        width: 25%;
        height: 100%;
        overflow-y: auto;
        margin: 0rem;
    
        .cardWrapper{
            padding: 0.5rem 0rem 0.5rem 1rem;
            margin: 1rem 0rem 1rem 0rem;
            border-radius: 0rem 0.25rem 0rem 0.25rem;
        
    
            .labelWrapper{
                margin-bottom:0.25rem;
                padding: 0rem;
                
                .icons{
                    margin: 0rem 0.125rem 0rem 0rem;
                    font-size: 1rem;
                    
                }
                .label{
                    font-size: 0.75rem;
                    margin: 0rem;
                    padding: 0rem;
                }
            }
            p{
                font-size: 1rem;
                font-weight: 600;
                margin: 0rem;
            }
    
        }
    
        .cardWrapper:hover {
            transform: scale(1.05);
          }
    }

    .backButton{
        padding: 0rem 0rem 0rem 0rem;
    }
}