.container{
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding-bottom: 3rem;
}
.content{
    width: 100%;
}
.imageHeaderSection{
    background-image: url(../../assets/hero-banner.jpg);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .heroImage{
        width: 100%;
        // opacity: 0.85;
    }
    .nameDiv{
        color: white;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .navigationDiv{
        color: white;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.otherInfoSection{
    padding: 1rem 0.5rem;

    .cardWrapper{
        align-items: flex-start;
        padding: 0.5rem 0rem 0.5rem 1rem;
        margin: 1rem 0rem 0rem 0rem;
        border-radius: 0.25rem;
        border: 1px solid black;

        .labelWrapper{
            margin-bottom:0.25rem;
            padding: 0rem;
            display: flex;
            align-items: flex-end;
            .icons{
                margin: 0rem 0.125rem 0rem 0rem;
                font-size: 1rem;
            }
            .label{
                font-size: 0.75rem;
                line-height: 1;
                font-weight: 450;
                margin: 0rem;
                padding: 0rem;
            }
        }
        p{
            text-transform: capitalize;
            font-size: 1rem;
            font-weight: 600;
            margin: 0rem;
        }

    }

}
.backButton{
    display: flex;
    justify-content: flex-end;
    padding: 0rem 0.5rem 0rem 0rem;
    width: 100%;
    margin-top: 1rem;
}