.spinner-div{
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto auto;
    align-self: center;
}
.spinner-div .spinner-text{
    color: #fff;
    font-size: 1rem;
}