.container{
    width: 100%;
    background-image: url(../../assets/hero-banner.jpg);
    padding: 0.5rem;
    display: flex;
    align-items: center;


    .logo-div{
        width: 15%;
        margin: 0rem;

        .logo{
            width: 100%;
        }
    }

    .navLinks{
        font-weight: bold;
        margin-left: auto;

        a{
            color: white;
            margin: 0rem 0.25rem;
            text-decoration: none;
            font-size: 0.9rem;
        }
        a:hover{
            font-weight: bold;
            transform: translateX(5)
        }
    }
}

@media screen and (min-width:991px){
    .container{

    .logo-div{
        width: 7.5%;
        margin: 0rem;

        .logo{
            width: 100%;
        }
    }

    .navLinks{
        font-weight: bold;
        margin-left: auto;
        a{
            margin: 0rem 0.75rem;
            font-size: 1.25rem;
        }
        a:hover{
            font-weight: bold;
            transform: translateX(5)
        }
    }
    }
    
}