.container{
    width: 100%;
    flex-direction: column !important;
}
.cardTop{
    display: flex;
    justify-content: center;
    img{
        width: 50%;
    }
}
.cardBottom{
    align-items: flex-start;
}
