.container{
    padding: 0.5rem 0rem;

    p{
        font-weight: bold;
        font-size: 1.125rem;
        padding: 0rem;
        margin: 0rem;
        color: #494957;
    }
    hr{
        width: 4rem;
        background-color: #494957;
        margin: 0.5rem 0rem;
        padding: 0rem;
        border: 1px solid #494957;
    }
}